#include <windows.h>
#include "PasswordVaultDialogRes.h"

IDD_PASSWORD_VAULT DIALOG 0, 0, 240, 140
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Password Vault"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDL_PASSWORD_VAULT, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 8, 8, 224, 84
  CONTROL "Show passwords", IDX_PASSWORD_VAULT_SHOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 98, 100, 10
  PUSHBUTTON "Add...", IDB_PASSWORD_VAULT_ADD, 8, 116, 52, 14
  PUSHBUTTON "Delete", IDB_PASSWORD_VAULT_DELETE, 68, 116, 52, 14
  PUSHBUTTON "Clear All", IDB_PASSWORD_VAULT_CLEAR, 128, 116, 52, 14
  DEFPUSHBUTTON "Close", IDOK, 188, 116, 44, 14
END
